[Desktop Entry]
Type=Application
Terminal=false
Name=osu!lazer
Exec=/home/scherer/git/osu/run.sh
Icon=/home/scherer/git/osu/osu.Desktop/lazer.ico
Comment=The future of osu! and the beginning of an open era! Commonly known by the codename osu!lazer. Pew pew.
StartupNotify=false
X-XFCE-Source=file:///home/scherer/.local/share/applications/osu!lazer.desktop
